.Item {
    border: 1px solid #eee;
    text-align: left;
    padding: 8px;
    font-weight: bold;
}
.Selected {
    font-weight: bold;
    border: 1px solid #eee;
    background-color: aquamarine;
    text-align: left;
}
.Conversion{
    /* padding-top: 5%; */
    padding-left: auto;
    padding-right: auto;
    position: relative;
    display: block;
    /* background-color: white; */
}
.UnitValue {
    border: 1px solid #eee;
    text-align: right;
    padding: 8px;
}
.Con {
    background-color: aquamarine;
    border: 1px solid #eee;
    box-shadow: 0 2px 3px #ccc;
    padding: 16px;
    margin: 16px;
}